{% extends "base.html" %}
{% block navegador %}

    <nav class="col-xs-12">
        <ul>
            <li><a href="{% url 'index' %}">INICIO</a></li>
            <li><a href="{% url 'login' %}">INICIAR SESIÓN</a></li>
        </ul>
    </nav>

{% endblock %}



{% block cuerpo %}
    <div class="col-xs-6 col-xs-offset-4">
        {% if mensaje %}
            <p>{{ mensaje }}</p>
        {% endif %}
        <form action="{% url 'login' %}" method="post">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Entrar</button>
        </form>
    </div>
{% endblock %}