{% extends "base.html" %}
{% block navegador %}

{% endblock %}

{% block cuerpo %}
    <div class="col-md-6 col-md-offset-3"
         style="text-align: justify; padding-bottom: 3em">
        <p>NOMBRE:<span
                style="font-size:1.3em; padding-left:0.5em">{{ tramite.nombre }}</span>
        </p>
        <p>JEFE DE TRÁMITE: <span
                style="font-size:1.3em; padding-left:0.5em">{{ tramite.jefe_tramite }}</span>
        </p>
        <p>DESCRIPCIÓN DE TRÁMITE: <span
                style="font-size:1.3em; padding-left:0.5em">{{ tramite.descripcion }}</span>
        </p>
        <p>TIPO DE TRÁMITE:<span
                style="font-size:1.3em; padding-left:0.5em">{{ tramite.tipo }}</span>
        </p>
        <p>HOJA DE RUTA DEL TRÁMITE: {% for hoja in tramite.hoja_de_ruta.all %}
            <p style="padding-left:2em">{{ forloop.counter }}.-{{ hoja.nombre }}</p>
        {% endfor %}
        <p>REQUISITOS: {% for requisito in tramite.requisitos.all %}
            <p style="padding-left:2em">{{ forloop.counter }}.-{{ requisito.nombre }}</p>
        {% endfor %}
        <div style="float:right; border:1px solid blue; padding-left: 1em; padding-right:1em; padding-top:1em; padding-bottom:1em; background-color: #3F51B5;">
            <a style="color:white"
               href="{% url 'solicitartramite' tramite.id %}">Solicitar
                Trámite</a></td>
        </div>
    </div>
{% endblock %}